
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <h1> Shhhhhh </h1>
   <font size="7"> <center> <p> Lets Shush </p>
  <form action="/start_music" method="post">
    <input type="submit" name="submit_button" value="Start Music">
</form>
     <form action="/stop_music" method="post">
    <input type="submit" name="submit_button" value="Stop Music">
</form>
     <p>{{ output }}</p> <p>{{ output1 }}</p></center></font>
  </body>
</html>